extends layout

block head
  title Tasks
  script(src="/js/index.js")
  link(rel="stylesheet",href="/styles/index.css")

block header-content
  a#logout.pull-right(href="#"): i.icon-eject.icon-white
  p#username.navbar-text.pull-right

block content
  #alert

  each task in tasks || []
    h4.text-info.name= task.name

    if task.reminder
      -var time = new Date(task.reminder.time)
      p: small.time(data-important=task.reminder.important)= time
    each category in task.categories || []
      span.label= category

    pre
      if task.notes
        small= task.notes
    hr