extends layout

block head
  title Tasks
  script(src="/js/lib/knockout.js")
  script(src="/js/lib/moment.js")
  script(src="/js/lib/bootstrap-switch.js")
  script(src="/js/lib/bootstrap-tagsinput.js")
  script(src="/js/lib/bootstrap-datetimepicker.js")
  script(src="/js/index.js")
  link(rel="stylesheet",href="/styles/bootstrap-switch.css")
  link(rel="stylesheet",href="/styles/bootstrap-tagsinput.css")
  link(rel="stylesheet",href="/styles/bootstrap-datetimepicker.css")
  link(rel="stylesheet",href="/styles/index.css")
  script.tasks(type="text/json")!= JSON.stringify(tasks)

block header-content
  .navbar-right
    p.navbar-text(data-bind="text: username")
    a.navbar-text.needs-user#logout(href="#"): i.glyphicon.glyphicon-eject

block content
  #alert

  .needs-user
    button.btn.btn-sm.btn-primary#addTask(type="button") Add Task
    hr

  .needs-user(data-bind="foreach: tasks")
    div.task(data-bind="attr: { 'data-id': _id }")
      button.removeTask.close &times;
      h4.text-info.name(data-bind="text: name")
      div(data-bind="if: reminder")
        p: small.time(data-bind="text: reminder.timeText, attr: { 'data-important': reminder.important }")
      div(data-bind="foreach: categories")
        span.label.label-default(data-bind="text: $data")
      pre(data-bind="if: notes")
        small(data-bind="text: notes")
      hr

  .modal.fade(tabindex="-1", role="dialog", data-bind="with: editedTask")
    .modal-dialog
      .modal-content
        .modal-header
          button.close(type="button", data-dismiss="modal") &times;
          h4 Add new task
        .modal-body
          input.form-control(type="text", name="taskName", placeholder="Task name", data-bind="value: name")
          .control-label
            label(for="taskImportant") Important
          input(type="checkbox", name="taskImportant")
          .input-group.date
            input.form-control(type="text", placeholder="Reminder time")
            span.input-group-addon
              span.glyphicon.glyphicon-time
          input.form-control.categories(type="text", placeholder="Categories")
          textarea.form-control#taskNotes(rows="10", placeholder="Description and notes", data-bind="value: notes")
        .modal-footer
          button.btn.btn-default(type="button", data-dismiss="modal") Close
          button.btn.btn-primary#saveTask(type="button", data-bind="enable: name") Save
