extends layout

block head
    title Tasks Authentication
    script(src="/js/authenticate.js")
    link(rel="stylesheet",href="/styles/authenticate.css")

block content
    p.lead To use Tasks, you need to sign in or sign up with an OpenID provider.
    .btn-group(data-bind="foreach: providers")
      button.btn.btn-default(type="button", data-bind="attr: { 'data-provider': provider }"): img(data-bind="attr: { src: image }")

    form.with-account
      .input-group.col-xs-4
        input#account.form-control(type="text",name="account",placeholder="Enter your id")
        .input-group-btn
          button.btn.btn-primary Login

    #loader
      .well.well-transparent.lead.text-center
        img(src="../img/spinner.gif")