extends layout

block head
    title Tasks Error
    link(rel="stylesheet",href="/styles/error.css")

block content
    h4 Unfortunately there was an error. Try later.
    small= error || ""
    div
        a.btn.btn-default.btn-large(href="/") Back