extends layout

block head
  title Tasks
  script(src="/js/index.js")
  link(rel="stylesheet",href="/styles/index.css")
  script.data(type="text/json")!= JSON.stringify(data)

block header-content
    a.navbar-text.has-popover#devices(href="#"): i.glyphicon.glyphicon-phone
    a.navbar-text.has-popover#notifications(href="#"): i.glyphicon.glyphicon-bell
    .navbar-right
      p.navbar-text= username
      a.navbar-text#logout(href="#"): i.glyphicon.glyphicon-eject

block content
  #loader
    .well.well-transparent.lead.text-center
      img(src="../img/spinner.gif")

  .col-md-3
    #categories
  .col-md-9
    button.btn.btn-sm.btn-primary#addTask(type="button") Add Task
    hr
    #tasks

  script#notificationsTemplate(type="text/html").
    <div class="popoverNotifications">
      <small><strong>Use notifications: </strong></small>
      <input type="checkbox" class="switch-small" />
    </div>

  script#deleteTemplate(type="text/html").
    <div class="popoverDelete">
      <p>Sure to delete the selected task ?</p>
      <div class="buttons">
        <button class="btn btn-xs btn-danger" type="submit">Delete</button>
        <button class="btn btn-xs btn-default" type="button">Cancel</button>
      </div>
    </div>

  script(id="task-template", type="text/template")
    include templates/task.html

  script(id="task-modal-template", type="text/template")
    include templates/task-modal.html

  script(id="devices-template", type="text/html")
    include templates/devices.html