extends layout

block head
  title Tasks
  script(src="/js/index.js")
  link(rel="stylesheet",href="/styles/index.css")
  script.data(type="text/json")!= JSON.stringify(data)

block header-content
    a.navbar-text.has-popover#devices(href="#"): i.glyphicon.glyphicon-phone
    a.navbar-text.has-popover#notifications(href="#"): i.glyphicon.glyphicon-bell
    .navbar-right
      p.navbar-text(data-bind="text: username")
      a.navbar-text#logout(href="#"): i.glyphicon.glyphicon-eject

block content
  #loader
    .well.well-transparent.lead.text-center
      img(src="../img/spinner.gif")

  button.btn.btn-sm.btn-primary#addTask(type="button") Add Task
  hr

  div(data-bind="foreach: tasks")
    .task(data-bind="attr: { 'data-id': _id }")
      .actions
        button.removeTask.close: i.glyphicon.glyphicon-remove
        button.editTask.close: i.glyphicon.glyphicon-pencil
      h4.name(data-bind="text: name, css: { 'text-info': !isDue(), 'text-danger': isDue() }")
      div(data-bind="if: $data.reminder")
        p: small.time(data-bind="text: reminder.timeText, attr: { 'data-important': reminder.important }")
      div(data-bind="foreach: categories")
        span.label.label-default(data-bind="text: $data")
      pre(data-bind="if: $data.notes")
        small(data-bind="text: notes")
      hr

  .modal.fade(tabindex="-1", role="dialog", data-bind="with: editedTask")
    .modal-dialog
      .modal-content
        .modal-header
          button.close(type="button", data-dismiss="modal") &times
          h4(data-bind="text: modalHeader($data)")
        .modal-body
          input.form-control(type="text", name="taskName", placeholder="Task name", data-bind="value: name")
          .control-label
            label(for="taskImportant") Important
          input(type="checkbox", name="taskImportant")
          .input-group.date
            input.form-control(type="text", placeholder="Reminder time")
            span.input-group-addon
              span.glyphicon.glyphicon-time
          input.form-control.categories(type="text", placeholder="Categories")
          textarea.form-control#taskNotes(rows="10", placeholder="Description and notes", data-bind="value: notes")
        .modal-footer
          button.btn.btn-primary#saveTask(type="button", data-bind="enable: name") Save
          button.btn.btn-default(type="button", data-dismiss="modal") Close


  script#devicesTemplate(type="text/html").
    <div class="popoverDevices" data-bind="foreach: devices">
      <div>
        <i class="glyphicon glyphicon-ok" data-bind="visible: !needsSync" />
        <i class="glyphicon glyphicon-refresh" data-bind="visible: needsSync" />
        <small><strong data-bind="text: name" /></small>
      </div>
      <div>
        <small data-bind="text: version" />
      </div>
      <hr />
    </div>
    <small data-bind="visible: devices.length == 0">No devices configured.</small>

  script#notificationsTemplate(type="text/html").
    <div class="popoverNotifications">
      <small><strong>Use notifications: </strong></small>
      <input type="checkbox" class="switch-small" />
    </div>

  script#deleteTemplate(type="text/html").
    <div class="popoverDelete">
      <p>Sure to delete the selected task ?</p>
      <div class="buttons">
        <button class="btn btn-xs btn-danger" type="submit">Delete</button>
        <button class="btn btn-xs btn-default" type="button">Cancel</button>
      </div>
    </div>