<div class="popoverDevices">
    <% devices.forEach(function (device) { %>
        <div>
            <i class="glyphicon glyphicon-<%= device.needsSync ? 'refresh' : 'ok' %>"/>
            <small><strong><%- device.name %></strong></small>
        </div>
        <div>
            <small><%- device.version %></small>
        </div>
        <hr />
    <% }); %>
	<div>
		<i class="notify-all glyphicon glyphicon-refresh" />
		<small>Notify all</small>
	</div>
</div>
<% if (devices.length == 0) { %>
    <small>No devices configured.</small>
<% } %>