body {
  padding-top: 70px; /* 70px to make the container go all the way to the bottom of the topbar */
}

button[data-provider] {
	width: 140px;
	height:61px;
}

.with-account {
	margin-top: 30px;	
	display: none;
}

#loader {
	margin-top: 30px;	
	display: none;
}