body {
  padding-top: 70px; /* 70px to make the container go all the way to the bottom of the topbar */
}

hr {
    margin-top: 10px;
    margin-bottom: 10px;
}

.needs-user {
    display: none; /* initially hide the items */
}

#logout {
    color: #fff;
    margin-left: 0;
}

.navbar-right > * {
    float: left;
}


.time[data-important] {
    font-weight: bold;
}

.label {
    margin-right: 3px;
}

pre {
    margin-top: 5px;
}

pre:empty {
    display: none;
}

.modal input[name="taskName"],.tags,.has-switch,.input-group.date {
    margin-bottom: 8px;
}

.modal .control-label {
    float: left;
    margin: 6px 8px 0 2px;
}

.modal-header {
    height: 50px;
}

.modal-header h4 {
    margin-top: 2px;
}

.modal-content {
    background-color: #e5e5e5;
}

.modal-body {
    background-color: white;
}

.modal-footer {
    margin-top: 0px;
}

.bootstrap-tagsinput {
    width: 100%;
}

.bootstrap-tagsinput input {
    padding-left: 5px;
}

.bootstrap-tagsinput.focus {
    border-color: #66afe9;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
}

.task {
    position: relative;
}

.task .actions {
    position: absolute;
    right: 10px;
    top: 0px;
    display: none;
}

.task .actions > button {
    font-size: 16px;
    padding-top: 5px;
    padding-right: 2px;
}

.task:hover .actions {
    display: block;
}

.popover-content {
    width: 250px;
}

.popover-content .delete-buttons {
    float:right;
    margin-bottom: 10px;
}

.popover-content button {
    float: left;
    margin-left: 5px;
}
