doctype html
html
  head
    meta(charset="utf-8")
    meta(name="viewport",content="initial-scale=1, maximum-scale=1, user-scalable=no")
    link(rel="stylesheet",href="/ios/styles/ratchet.css")
    script(src="/ios/js/ratchet.js")
    script(src="http://code.jquery.com/jquery-1.9.1.min.js")
    block head
  body
    .content
      .content-padded
        block content